/*
  #   Projeto final - Disciplina: "Desenvolvimento Web para Dispositivos Móveis"
  #   Faculdade Senac Porto Alegre - RS
  #   Aluno: Marcelo Pereira da Silva
  #   Matrícula: 631110033
*/


/***************************
  Carousel principal topo
****************************/

.carousel {
    margin-bottom: 2rem;
  }
  
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  .carousel-caption i {
    font-size: 5rem;
    margin-bottom: 1rem;
  }
  
  .carousel-item {
    /* height: 32rem; */ /* Altura original*/
    height: 30rem;
  }
  
  /* Slider 01 */
  .carousel-item.slider-01 {
    background: linear-gradient(rgba(86, 61, 124, .9), rgba(0, 0, 0, 0.9)), url(bg-sliders-topo.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
  }
  
  /* Slider 02 */
  .carousel-item.slider-02 {
    background: linear-gradient(rgba(50, 127, 199, .9), rgba(0, 0, 0, 0.9)), url(bg-sliders-topo.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
  }
  
  /* Slider 03 */
  .carousel-item.slider-03 {
    background: linear-gradient(rgba(67, 133, 61, .9), rgba(0, 0, 0, 0.9)), url(bg-sliders-topo.jpg) no-repeat fixed 50% 50%;
    background-size: cover; 
  }



/***************************
  Linha divisória de seções
****************************/

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }

  
/***************************
  Links
****************************/
a {
    color: #17A2B8;
}


/***************************
  Botões
****************************/

/* Botões Actions - Slider */
.btn-lg {
    padding: .5rem 3rem;
    font-size: 1.25rem;
    line-height: 1.8;
    border-radius: 2rem;
    margin-top: 30px;
    text-transform: uppercase;
}

.btn-lg:hover { 
    color: #343a40; 
}

/* Botão formulário de contato */
.btn-dark, .btn-info {
    padding: 10px 25px;
    border-radius: 50px;
}


/***************************
  Headers
****************************/
.display-4 {
    font-size: 1.5rem;
}


.carousel-cell {
    margin-right: 20px;
}

.card {
    align-items: center;
}

.card img {
    width: 120px;
}

.card-body {
    padding: 10px 20px;
}

.avaliacao-extensao {
    margin-bottom: 20px;
}

.avaliacao-extensao i {
    margin-right: 10px;
    color: orangered;
}

.flickity-prev-next-button {
    right: 10px;
    color: #17A2B8;
}



/***************************
  Seção Contato
****************************/

.form-control {
    padding: 25px;
    border-radius: 50px;
}

/* Input text-area */
.area {
    border-radius: 15px;
}

.list-group i {
    font-size: 1.6rem;
    color: #17A2B8;
}

.badge-pill {
    background-color: #FFF;
}

/***************************
  Banner Visual Code
****************************/
.banner-visual-code {
    padding-top: 30px;
    background-color: #362E7B;
}
